@layout('layouts.main')

@section('title')
  Bookmarkly
@endsection

@section('content')
  <h1>Bookmarks</h1>

  <div>
    <div></div>
    <div>
      <h3>Bookmark URL</h3>
    </div>
  </div>
@endsection
